/************************************HEADER************************************/
header {
    padding: 20px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 180px;
}

.nav-logo img {
    width: 100%;
}

.filterPage {
    display: flex;
    height: 30px;
}

.buttonSearch {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonSearch div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
}

.buttonSearch img {
    width: 100%;
}

.loggedInUser {
    display: none;
    align-items: center;
}

.loggedInUser div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    width: 25px;
}

.loggedInUser img {
    margin: 0 5px;
    width: 100%;
}

.usersLogReg {
    display: flex;
}

.separator {
    border-left: 2px solid #ccc; 
    height: 20px; 
    margin: 20px 10px; 
    display: inline-block; 
    vertical-align: middle; 
}

#formContainer {
    display: none;
    position: absolute;
    right: 0;
    top: 79px;
    background-color: #FFFF;
    height: 105px;
    padding: 20px;
    border-radius: 0 0 0 10px;
}

#formContainer div {
    display: block;
}

#formContainer h2 {
    display: flex;
    justify-content: baseline;
    margin: 0;
}

#formContainer input {
    width: 150px;
    margin: 10px 0;
    display: block;
}

#formContainer input::placeholder {
    font-size: 16px;
}

#formContainer button {
    font-size: 16px;
    border: none;
    color: #FFFF;
    background-color: black;
    border-radius: 2px;
    padding: 3px 20px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

#formContainer button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/*************************************MAIN*************************************/
main {
    border-top: 1px rgb(255, 255, 255) solid;
    display: block;
    overflow: hidden;
}

.contFlex {
    display: flex;
}

.filter {
    padding: 20px 0;
   
    width: 20%;
    display: flex;
    flex-direction: column;
}

.tittleBrand {
    padding: 0px 14px;
}

.filter-item {
    margin-bottom: 0px;
}

.filter-item p {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    margin-left: 20px;
}

.filter-content {
    margin: 0;
    margin-left: 20px; /* Ajusta según tus necesidades */

}

.filter-content ul {
    margin: 14px;
}

.filter-content li {
    margin: 5px 0;
    font-size: 16px;
}

.checkbox {
    display: inline-block;
    width: 10px; /* Ajusta según tus necesidades */
    height: 10px; /* Ajusta según tus necesidades */
    border: 1px solid #ccc;
    margin-right: 5px; /* Ajusta según tus necesidades */
    vertical-align: middle;
    cursor: pointer;
}


.filter-content ul {
    padding: 0;
    list-style: none;
}

/* Estilo para el "checkbox" marcado */
.filter-item span.checkbox.checked {
    background-color: #000000; /* Cambia el color de fondo al hacer clic */
    border-color: #ffffff; /* Cambia el color del borde al hacer clic */
    color: #fff; /* Cambia el color del texto al hacer clic */
}


#carsForRent {
    flex: 1;
    padding: 0 15px 0 0;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.carCont {
    width: 150px;
    height: 275px;
    margin: 10px;
    background-color: #FFFF;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}

.carCont:hover {
    transform: scale(1.1);
}

.img-cont {
    width: 150px;
}

.carCont img {
    width: 100%;
    margin-bottom: 15px;
}

.carCont p {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 16px;
}
.rentNow {
    width: 100%;
    padding: 5px 20px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.rentNow:hover {
    font-size: 17px;
    border: 1px gray solid;
    border-radius: 3px;
}
/************************************FOOTER************************************/